<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key ="ReporteDeArticulos" value="C:\\Reportes\\"/>
		<add key ="ReporteDeDepartamentos" value="C:\\Reportes\\"/>
	</appSettings>
    <connectionStrings>
        <add name="ControlStockString" connectionString="Data Source=DESKTOP-8BMPE5K;Initial Catalog=Inventario;User ID=sa;Password=Migracion2808" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>